a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    cursor: pointer;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}


.menu-link {
    display: none;
}

.menu-contact {
    display: none;
}

.logo {
    color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 16px;
    display: inline-flex;
    height: 24px;
    align-items: center;
}

.logo-studio {
    color: #2E2F42;
}

.menu-burger-btn {
    fill: #2f2f37;
    background-color: transparent;
    border: none;
    line-height: 0;
    padding: 0;
    margin-left: auto;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header {
    padding-top: 16px;
    padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}


 
@media screen and (min-width: 1168px) {
    .container {
        max-width: 1168px;
    }
}