a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #FFFFFF;
}

.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.container-header {
    display: flex;
    align-items: center;
}

.page-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.menu-link {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}

.logo {
    color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
}

.logo-studio {
    color: #2E2F42;
}

.link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    color: #404bbf;
}

.current {
    position: relative;
    color: #404BBF;
}

.menu-link .current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
}

.address {
    display: flex;
    font-style: normal;
}

.menu-contact {
    display: flex;
    gap: 40px;
}

.contact {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.section-one {
    background-color: #2e2f42;
    padding: 188px 0;
    display: block;
    margin: auto;
        
    background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px
}

.title {
    text-align: center;
    color: #fff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: auto;
    margin-bottom: 48px;
}

.button-order {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px; 
    background-color: #4d5ae5;
    display: block;
    margin: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover,
.button-order:focus {
    background-color: #404bbf;
}

.section-two {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8E8F99;
}

.menu-two {
    display: flex;
    gap: 24px;
}

.section-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    width: 264px;
    margin-bottom: 8px;
}

.text-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.paragraph {
    width: calc((100% - 72px) / 4);
    flex-shrink: 0;
}

.section-three {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.menu-three {
    display: flex;
    gap: 24px;
}

.section-three-title {
    text-align: center;
    color: #2e2f42;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.section-foto {
    background-color: #ffffff;
    text-align: center;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-content {
    padding: 32px 0;
}

.name {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.type-of-employment {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-links-item {
    width: 40px;
    height: 40px;
}

.social-links-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-link:hover,
.social-links-link:focus {
    background-color: #404BBF;
}

.icon-social-link {
    fill: #F4F4FD;
}

.section-four {
    padding-top: 120px;
    padding-bottom: 120px;
}

.interior-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-portfolio {
    text-align: center;
    color: #2e2f42;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.menu-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.box-foto {
    position: relative;
    overflow: hidden;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .interior-text {
    transform: translateY(0%);
}

.portfolio-list-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-content {
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    margin-top: 0px;
    padding: 32px 16px;
}

.portfolio-name {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.job-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.text-logo-footer {
    margin-right: 120px;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.web-footer {
    color: #f4f4fd;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.text-footer {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.social-media-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.social-links-footer {
    display: flex;
    gap: 16px;
}

.social-links-item-footer {
    width: 40px;
    height: 40px;
}

.social-links-link-footer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-link-footer:hover,
.social-links-link-footer:focus {
    background-color: #31D0AA;
}

.footer-heading {
    margin-right: auto;
}

.subscribe-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.form-footer {
    display: flex;
    gap: 24px;
}

.form-label-footer {
    gap: 24px;
}

.form-input-footer {
    border: 1px solid #FFF;
    width: 264px;
    height: 40px;
    background-color: transparent;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-size: 12px;
    color: #FFF;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.form-input-footer::placeholder {
    color: #fff;
}


.form-button-footer {
    min-width: 165px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFF;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button-footer:hover,
.form-button-footer:focus {
    background-color: #404BBF
}

.icon-button-subscribe {
    margin-left: 16px;
}

/* MODAL*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.container-modal {
    height: 584px;
    width: 408px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #FCFCFC;
    margin: auto;
    padding: 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.button-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover,
.icon-close:focus {
    fill: #ffffff
}

.contact-form-div {
     margin-bottom: 8px;
 }

 .modal-window-paragraph {
     margin-bottom: 16px;
     color: #2E2F42;
     text-align: center;
     font-size: 16px;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.02em;
 }

 .contact-form-label {
     color: #8E8F99;
     font-size: 12px;
    font-weight: 400;
     line-height: 1.17;
     letter-spacing: 0.04em;
     display: block;
     margin-bottom: 4px;
 }

 .input-div {
     position: relative;
 }

 .contact-form-input {
     width: 100%;
     height: 40px;
     border-radius: 4px;
     border: 1px solid rgba(46, 47, 66, 0.4);
     padding: 2px;
     padding-left: 38px;
     background-color: transparent;
     outline: transparent;
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .contact-form-input:focus {
     border-color: #4D5AE5;
     fill: #4D5AE5;
 }

 .contact-form-input:focus .input-icon {
     fill: #4D5AE5;
 }

 .contact-textarea-div {
     margin-bottom: 16px;
 }

 .contact-form-textarea {
     display: block;
     width: 100%;
     height: 120px;
     border-radius: 4px;
     border: 1px solid rgba(46, 47, 66, 0.4);
     color: rgba(46, 47, 66, 0.4);
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     text-indent: 8px;
     resize: none;
     background-color: transparent;
     padding: 8px 16px;
     outline: transparent;
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .contact-form-textarea:focus {
     color: rgb(67, 68, 85);

     border-color: #4D5AE5;
 }

 .contact-form-link {
     color: #4D5AE5;
     line-height: 1;
     letter-spacing: 0.04em;
     text-decoration-line: underline;
 }

 .contact-form-checkbox-div {
     margin-bottom: 24px;
 }

 .contact-form-checkbox-label {
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     color: #8e8f99;
     display: block;
 }

 .contact-form-checkbox-label-span {
     width: 16px;
     height: 16px;
     border: 1px solid rgba(46, 47, 66, 0.4);
     border-radius: 2px;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
     display: inline-flex;
     align-items: center;
     justify-content: center;
     fill: transparent;
     margin-right: 8px;
 }

 .contact-form-checkbox-input:checked+.contact-form-checkbox-label>.contact-form-checkbox-label-span {
     background-color: #404bbf;
     border: none;
     fill: #F4F4FD;
 }

 .contact-form-button {
     margin: auto;
     padding: 16px 32px;
     border-radius: 4px;
     background-color: #4D5AE5;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
     color: #ffffff;
     font-size: 16px;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.04em;
     margin-top: 16px;
     display: block;
     min-width: 169px;
     height: 56px;
     font-family: "Roboto", sans-serif;
     cursor: pointer;
     border: none;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .contact-form-button:hover,
 .contact-form-button:focus{
     background-color: #404BBF;

 }

 .input-icon {
     fill: #2E2F42;

     position: absolute;
     left: 16px;
     top: 50%;
     transform: translateY(-50%);
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .input-icon:focus {
     fill: #4D5AE5;
 }

 .contact-form-input:focus+.input-icon {
     fill: #4D5AE5;

 }

 .mr-auto {
     margin-right: auto;
 }

